body{
    margin: 0px;
    padding: 1px;
    height: 1000px;
}
.header{
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1px;
    padding:15px;
    position: flex;
    box-shadow: 10px;
   
}
ul,li,a{
  diplay: inline;
  list-style: none;
    
}
h2{
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
h1,h2,span{ 
    font-size: 40px;
    text-shadow: 30px;
}
p1,p4{
    margin: 10px;
    font-size: 35px;
    margin-bottom: 20px;
    padding: 30px;
   
}
h3{
    color: purple;
}
.icons{
    text-align: center;
    font-size: ;
    margin-top: 30px;
}
img{
    height: 40%;
    width: 500px;
    border-radius: 20vh;
    margin-top: 10%;
    margin-bottom: 15%;
}
.image{
    text-align: center;
    
}
.buttonclick{
    text-align: center;
    margin: 25px;
}
.menu{
    text-align: right;
    margin-top: 1px;
    position: flex;
    padding: 50px;
    
}
.button{
    border-radius: 5px;
    border-color: skyblue;
    box-shadow: none;
    color: white;
    background-color: skyblue;
    border-color: skyblue;
    font-size: 35px;
    height: 35px;
    width: 80px;
    text-decoration: none;
    padding: 15px;
    animation: fadeOut;
    font-weight: bold; 
    margin-bottom: 30px;
    
}
.button:hover{
    background-color: blue;
    border-color: white;
    color: white
}
.button:active{
    color: white;
}
.bars{
    color: black;  
    background-color: none;
    
}
.button1{
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 5px;
    margin: 15px;
    height: 20px;
    width: 30px,
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}
i:hover{
    background-color: none;
}
a{
    text-decoration: none
}
.button1:hover{
    background-color: orange;
    border-color: orange;
    box-shadow: none;
}
p1,h1,a,h2,h3{ font-family: "Ubuntu", sans-serif; font-weight: 320; font-style: normal; }
.skills{
    background-color: whitesmoke;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
i{
    font-size: 80px;
    margin: 25px;
}
footer,.footer{
    border-radius: 2px;
    bottom: 1px;
    position: fixed;
    width: 100% ;
}
.aboutMe{
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 5px;
    padding: 30px;
}
.messageUs{
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 10px;
    margin-left: 10px;
    padding:30px
}
input,textarea{
    border-radius: 5px;
    margin: 5px;
    height: 50px;
    border-color: black;
    margin-right: 30px;
    width: 70%;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-size: 30px;
}
input:hover{
    border-color: #ff559e;
    
}
input:active{
    color: #aefe15b9
}
.learn{
    text-align: justify;
    margin: 10px;
    background-color:whitesmoke ;
    border-radius: 5px;
    padding:  25px;
}
.image1,.image2,.image3{
    border-color:#8098ff;
    animation: fadeOunt;
    position: inline-block;
    margin: 8px;
    border: 5px;
      
}
.image1,image2,image3:hover{
   color: red;
   
    
}
.image1{
   background-image: url("programming.jpg") no-repeat;
   
}
.image2{
   background-image: url("coding.jpg") no-repeat;
   position: cover;
}
.image3{
    background-image: url("learning.jpg") no-repeat;}